<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">찾개냥</h3></a>

    <nav class="nav justify-content-end mt-3">

        <a class="nav-link text-black" href="signup.html">SIGN UP</a>
        <a class="nav-link text-black" href="login.html">LOGIN</a>
        <a class="nav-link text-black" href="home1.html">HOME</a>
    </nav>
</div>