<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찾개냥</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
<header class="header">
    <span style="font-size: 2rem; display: inline;"> 여기서1</span>
    <h1 style="display: inline; font-size: 7rem;">찾개냥</h1>
    <nav class="nav justify-content-end mt-3">
        <a class="nav-link text-black" href="signup.html">SIGN UP</a>
        <a class="nav-link text-black" href="login.html">LOGIN</a>
        <a class="nav-link text-black" href="home.html">HOME</a>
    </nav>
</header>
<main>
    <div class="container mt-3">
        <h3>Board View</h3>
        <br />
        <div class="form-group">
            <label for="num">글번호:</label>
            <input type="text" class="form-control" id="num" name="num" th:value="${board.num}" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="title">제목:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${board.title}" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="writer">글쓴이:</label>
            <input type="text" class="form-control" id="writer" name="writer" th:value="${board.writer}" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="content">내용:</label>
            <textarea name="content" id="content" class="form-control" readonly="readonly">[[${board.content}]]</textarea>
        </div>
        <div class="form-group mt-5">
            <span th:if="${#authentication.principal.userId==board.getWriter()}">
                <a th:href="|@{/board/modify(num=${board.num})}|">
                    <button type="button" id="btnUpdate" class="btn btn-secondary">수정</button>
                </a>
                <a th:href="|@{/board/delete(num=${board.num})}|">
                    <button type="button" id="btnDelete" class="btn btn-danger">삭제</button>
                </a>
            </span>
            <a th:href="|@{/board/list}|">
                <button type="button" id="btnList" class="btn btn-info">List</button>
            </a>
        </div>
    </div>
</main>
<footer class="footer" style="font-family: 'Nunito', sans-serif;">
    <p>© 2024 찾개냥. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>