<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      layout:decorate="~{layout/basic.html}">
<!--<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>찾개냥</title>
  <link rel="stylesheet" href="css/home.css">
</head>-->

<div layout:fragment="content">

  <main>
    <div class="banner">
        <h1><a th:href="@{/home}">찾개냥</a></h1>
      <form action="/user/home" method="post">
      <a th:href="@{/home}">
        <img th:src="@{/templates/photo/banner.PNG}" alt="강아지와 고양이">
        <h2>내 반려동물 찾기</h2>
      </a>
        </form>
    </div>
    <div class="gallery">
      <div class="item">
        <p>반려동물을 찾아요</p>
        <a th:href="@{/find-pet}">
          <img th:src="@{/templates/photo/find-pet.PNG}" alt="반려동물 찾기">
        </a>
      </div>
      <div class="item">
        <p>주인을 기다리고 있어요</p>
        <a th:href="@{/wait}">
          <img th:src="@{/templates/photo/wait.PNG}" alt="주인을 기다리는">
        </a>
      </div>
      <div class="item">
        <p>커뮤니티</p>
        <a th:href="@{/community}">
          <img th:src="@{/templates/photo/comu.PNG}" alt="커뮤">
        </a>
      </div>
    </div>
  </main>
  <footer>
    <p>© 2024 찾개냥. All rights reserved.</p>
  </footer>
</div>
</body>
</html>
