<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="../static/css/bye.css">
</head>
<body>
<header class="header">
    <span style="font-size: 2rem; display: inline;"> 여기서</span>
    <h1 style="display: inline; font-size: 5rem;">찾개냥</h1>
    <!-- 작은 텍스트 추가 -->
    <nav class="nav justify-content-end mt-3">

        <a class="nav-link text-black" href="signup.html">SIGN UP</a>
        <a class="nav-link text-black" href="login.html">LOGIN</a>
        <a class="nav-link text-black" href="home.html">HOME</a>
    </nav>
</header>

<main>
    <h2>회원 탈퇴</h2>
    <p>정말 탈퇴하시겠습니까?</p>
    <form action="withdraw.php" method="post">
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-buttons">
           <button type="submit"> <a href="byeOK.html"/> 탈퇴</button>
            <a href="mypage.html"><button type="button">취소</button></a>
        </div>
    </form>
</main>
<footer>
    <p>© 2024 .찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
