<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탈퇴 완료</title>
    <link rel="stylesheet" href="../static/css/OK.css">
</head>
<body>
<header class="header">
    <span style="font-size: 2rem; display: inline;"> 여기서</span>
    <h1 style="display: inline; font-size: 5rem;">찾개냥</h1>
    <!-- 작은 텍스트 추가 -->
    <nav class="nav justify-content-end mt-3">

        <a class="nav-link text-black" href="signup.html">SIGN UP</a>
        <a class="nav-link text-black" href="login.html">LOGIN</a>
        <a class="nav-link text-black" href="home1.html">HOME</a>
    </nav>
</header>
<main>
    <h2>탈퇴 완료</h2>
    <p>회원 탈퇴가 성공적으로 완료되었습니다.</p>
    <p>그동안 이용해 주셔서 감사합니다.</p>
    <div class="form-buttons">
        <a href="user/home.html"><button>홈으로 돌아가기</button></a>
    </div>
</main>
<footer>
    <p>© 2024 .찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
