<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기 - 커뮤니티</title>
  <link rel="stylesheet" href="css/write3.css">
</head>
<body>
<header class="header">
  <span style="font-size: 2rem; display: inline;"> 여기서</span>
  <h1 style="display: inline; font-size: 5rem;">찾개냥</h1>
  <!-- 작은 텍스트 추가 -->
  <nav class="nav justify-content-end mt-3">

    <a class="nav-link text-black" href="signup.html">SIGN UP</a>
    <a class="nav-link text-black" href="login.html">LOGIN</a>
    <a class="nav-link text-black" href="home.html">HOME</a>
  </nav>
</header>
<main>
  <h2>글쓰기</h2>
  <form action="submit-community-post.php" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="photo">사진 첨부:</label>
      <input type="file" id="photo" name="photo" accept="image/*">
    </div>
    <div class="form-group">
      <label for="content">내용:</label>
      <textarea id="content" name="content" rows="25" required></textarea>
    </div>
    <div class="form-buttons">
      <button type="reset">리셋</button>
      <button type="submit">제출</button>
    </div>
  </form>
</main>
<footer>
  <p>© 2024 .찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
