<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>찾개냥</title>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
<header>
  <a href="home.html"/>
  <h1> 찾개냥</h1>
  <nav>
    <a href="signup.html">SIGN UP</a>
    <a href="login.html">LOGIN</a>
    <a href="home.html">HOME</a>
  </nav>
</header>
<main>
  <div class="banner">
    <a href="home.html">
    <img src="photo/banner.PNG" alt="강아지와 고양이">
    <h2>내 반려동물 찾기</h2>
    </a>
  </div>
  <div class="gallery">
    <div class="item">
      <p>반려동물을 찾아요</p>
      <a href="find-pet.html">
        <img src="photo/find-pet.PNG" alt="반려동물 찾기"></a>

    </div>
    <div class="item">
      <p>주인을 기다리고 있어요</p>
      <a href="wait.html"><img src="photo/wait.PNG" alt="주인을 기다리는"></a>

    </div>
    <div class="item">
      <p>커뮤니티</p>
      <a href="community.html"><img src="photo/comu.PNG" alt="커뮤"></a>

    </div>
  </div>
</main>
<footer>
  <p>© 2024 찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
