<!DOCTYPE html> <!--original by Inchan-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찾개냥</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css"> <!-- 기존 CSS 파일 -->
</head>
<body>
<header class="header">
    <span style="font-size: 2rem; display: inline;"> 여기서1</span>
    <h1 style="display: inline; font-size: 7rem;">찾개냥</h1>
    <!-- 작은 텍스트 추가 -->
    <nav class="nav justify-content-end mt-3">

        <a class="nav-link text-black" href="signup.html">SIGN UP</a>
        <a class="nav-link text-black" href="login.html">LOGIN</a>
        <a class="nav-link text-black" href="home.html">HOME</a>
    </nav>
</header>
<main>
    <div class="banner">
        <a href="home.html">
            <img src="photo/banner.PNG" class="img-fluid" alt="강아지와 고양이">
            <h2 class="text-white position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); font-family: 'Nunito', sans-serif;">내 반려동물 찾기</h2>
        </a>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="item">
                    <p style="font-family: '', sans-serif;">반려동물을 찾아요</p>
                    <a href="find-pet.html">
                        <img src="photo/find-pet.PNG" class="img-fluid rounded" alt="반려동물 찾기">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="item">
                    <p style="font-family: 'Nunito', sans-serif;">주인을 기다리고 있어요</p>
                    <a href="wait.html">
                        <img src="photo/wait.PNG" class="img-fluid rounded" alt="주인을 기다리는">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="item">
                    <p style="font-family: 'Nunito', sans-serif;">커뮤니티</p>
                    <a href="community.html">
                        <img src="photo/comu.PNG" class="img-fluid rounded" alt="커뮤">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer" style="font-family: 'Nunito', sans-serif;">
    <p>© 2024 찾개냥. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
