<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<header>
    <h1><a href="user/home.html"/> 찾개냥</h1>
    <nav>
        <a href="user/home.html">HOME</a>
        <a href="mypage.html">MY PAGE</a>
    </nav>
</header>
<main>
    <div class="login-container">
        <div class="signup-prompt">
            <img src="photo/warkdog.PNG" alt="산책하는 강아지">
            <h2>혹시 회원이 아니신가요?</h2>
            <p><a href="signup.html" class="signup-link">회원가입하기</a></p>

        </div>
        <div class="login-form">
            <h2>로그인</h2>
            <form action="dashboard.html" method="post">
                <label for="id">ID</label>
                <input type="text" id="id" name="id" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required><p/>
                <button type="submit"><a href="user/home.html"/> CLICK HERE</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <p>© 2024 찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
