body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #e0f7fa;
    padding: 20px;
    text-align: center; /* h1을 중앙 정렬 */
}

nav {
    text-align: right; /* nav 요소를 오른쪽 정렬 */
    margin-top: -30px; /* h1과 nav 사이의 간격 조절 */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar label {
    margin-right: 5px;
}

.search-bar input[type="date"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.write-post {
    margin: 20px 0;
    text-align: right; /* 오른쪽 정렬 */
}

.write-post button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pet-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pet-item {
    margin: 10px;
    text-align: center;
    width: 150px;
}

.pet-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    margin: 0 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
