@font-face {
    font-family: 'PocheonMakgeolli';
    src: url('../fonts/PochenMakgeolli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 기본 스타일 */
/* 기본 스타일 */
/* 기본 스타일 */
body {
    font-family: 'PocheonMakgeolli', sans-serif; /* 기본 폰트 설정 */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* 헤더 스타일 */
header {
    background-color: #a3d879 !important;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(19, 14, 14, 0.1);
}

span {
    font-size: 1rem; /* 작은 폰트 크기 설정 */
    display: inline; /* 같은 라인에 표시 */
}

/* 네비게이션 스타일 */
nav {
    text-align: right; /* 오른쪽 정렬 */
    margin-top: -5px; /* 필요시 조정 */
}

nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #CEF6D8;
}

/* 배너 스타일 */
.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 갤러리 스타일 */
.gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    margin: 10px;
}

.item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.05);
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff8e0;
    border-top: 1px solid #ffffff;
    margin-top: 20px;
}