body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #e0f7fa;
    padding: 20px;
    text-align: center; /* h1을 중앙 정렬 */
}

nav {
    text-align: right; /* nav 요소를 오른쪽 정렬 */
    margin-top: -30px; /* h1과 nav 사이의 간격 조절 */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}


main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-buttons {
    margin-top: 20px;
    text-align: center; /* 버튼을 중앙 정렬 */
}

.form-buttons button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71; /* 버튼 색상 */
    color: white;
}
