@font-face {
    font-family: 'PocheonMakgeolli';
    src: url('../fonts/PochenMakgeolli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    font-family: 'PocheonMakgeolli', sans-serif;
    background-color: #a3d879 !important;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(19, 14, 14, 0.1);
}

span {
    font-size: 1rem; /* 작은 폰트 크기 설정 */
    display: inline; /* 같은 라인에 표시 */
}

/* 네비게이션 스타일 */
nav {
    text-align: right; /* 오른쪽 정렬 */
    margin-top: -5px; /* 필요시 조정 */
}

nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px; /* 간격을 줄입니다. */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 100%;
    padding: 5px; /* 패딩을 줄입니다. */
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px; /* 높이를 줄입니다. */
}

.form-buttons {
    margin-top: 20px;
    text-align: right; /* 버튼을 오른쪽 정렬 */
}

.form-buttons button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #2ecc71; /* 리셋 버튼 색상 */
    color: white;
}

button[type="submit"] {
    background-color: #2ecc71; /* 다음 버튼 색상 */
    color: white;
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff8e0;
    border-top: 1px solid #fff8e0;
    margin-top: 20px;
}